<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>build form</title>
    <link href="/css/buildForm.css" rel="stylesheet" type="text/css">
      <style>@import
    url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500&family=Share+Tech&family=Smooch&family=Varela+Round&display=swap')    ;

    @import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee&family=Cairo:wght@300;400;500&family=Orbitron&family=Share+Tech&family=Smooch&family=Varela+Round&display=swap') ;
    </style>
</head>
<body>
  <h1>Dai un nome e una descrizione alla tua build</h1>
    <div id = "checkBox">
        <form th:action= "@{/listaBuild}" method="POST" th:object="${build}">
        <div id = "box">
            <div class = "boxNome">
                <span>Nome:</span> <span><input type="text" th:field="${build.nome}" /></span>
            </div>
            <div class = "boxDesc">
                <span>Descrizione:</span> <span><input type="text" th:field="*{descrizione}" /></span>
                <span th:if="${#fields.hasErrors('descrizione')}" th:errors="*{descrizione}"></span>
            </div>
            
            <div id = "bottone">
                <span><button type="submit">Crea</button></span>
            </div>
          </div>
        </form>
     </div>
</body>
</html>