<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Titolo Pagina</title>
    <style></style>
    <script></script>
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>  
	<h1>NOME DELL'AZIENDA</h1>
	<div class="slider-frame">
		<div class="slide-images">
			<div class="img-container">
				<img src="images/Monitor.png">
			</div>
			<div class="img-container">
				<img src="images/Monitor.png">
			</div>
			<div class="img-container">
				<img src="images/Monitor.png">
			</div>
		</div>
	</div>
          
          
    
    
    
    
<footer>
<a th:href="@{/home}">Home Utente</a>	
<a th:href="@{/logout}">Logout</a>  			
</footer>
      
  </body>
</html>