<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Pagina login</title>
<style>
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500&family=Share+Tech&family=Smooch&family=Varela+Round&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee&family=Cairo:wght@300;400;500&family=Orbitron&family=Share+Tech&family=Smooch&family=Varela+Round&display=swap%27');
</style>
<link href="/css/loginForm.css" rel="stylesheet" type="text/css">
</head>
<body>
	<video autoplay muted loop id="myVideo">
  		<source src="/images/circuiti.mp4" type="video/mp4">
	</video>
	<div id="content">
			<form th:action="@{/login}" method="POST">
				<div class="box">
					<img src="/images/Utente.png">
					<h2>LOGIN UTENTE</h2>
					<div class="username">
						<span>Username</span>
						<input name="username" placeholder="Username" type="text" required />
					</div>
					<div class="password">
						<span>Password</span> 
						<input name="password" placeholder="Password" type="password" required />					
					</div>
					<div class="submit">
						<button type="submit">LOGIN</button>
						<p>oppure</p>
						<div id = "registrati">
    					  <a th:href="@{/register}"><button type = button>Registrati</button></a>
						</div>    
					</div>
				</div>
			</form>
	</div>
</body>
</html>