body {
    background-color: #e6ecf0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #043c64;
}

header a {
    width: 12%;
}

header img{
    width: 110%;
}

.logout {
	font-family: 'Share Tech';
	color: white;
}

.logout a{
	text-decoration: none;
	color:white;
}

h1 {
    font-family: 'Audiowide';
    font-size: 50px;
    color: white;
}

.logout {
    font-family: 'Share Tech';
    color: white;
}

#listaCompleta {
	display: flex;
	flex-direction: column;
    margin-top: 40px;
    border-radius: 10px;
    background-color: #043c64;
    width : 30%;
    height: 500px;
    align-items: center;
}

h2{
	font-size:30px;
	font-family: 'Audiowide';
	color: white;
	text-decoration: underline;
}

.nomeBuild{
    text-decoration: none;
    color: white;
    font-family: 'Share Tech';
    font-size: 25px;
}

.nomeBuild:hover{
    color: orange;
    font-size: 27px;
    transition-duration: 0.4s;
}

footer {
    margin-top: 50px;
    border: 2px solid;
    width: 100%;
    height: 100px;
    display: flex;
    font-family: 'Share Tech';
    font-size: 15px;
    background-color: #436d8b;
    color: white;
}

footer img {
    width: 10%;
    border-radius: 50%;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}