body{
  background-color: #e6ecf0;
  display:flex;
  align-items: center;
  flex-direction:column;

}
header{
  width:100%;
  height:150px;
  display: flex;
  align-items: center;
  justify-content:space-around;
  background-color: #043c64;
}

header a {
	width: 12%;
}

header img{
	width: 100%;
}

/*header img{
  width:5%;
  border:2px solid;
}*/

h1{
  font-family: 'Audiowide';
  font-size:50px;
  color: white;
}

#box{
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  width:100%;
  height:300px;
}

#boxItem{
  border: 3px solid;
  width:30%;
  background-color: #043c64;
}

h2{
  text-align: center;
  font-family: 'Audiowide';
  color: white;
  font-size: 30px;
}

.text{
  color: white;
  text-align: center;
  margin-top: 40px;
  font-family: 'Share Tech';
  font-size: 18px;
}

.logout{
  border:2px solid;
  font-family: 'Share Tech';
  color: white;
}